ErrorDocument 404 http://zombienw.tk/

RewriteEngine On

<IfModule mod_rewrite.c>
    RewriteEngine on
    Options FollowSymLinks
    RewriteCond %{HTTP_HOST} ^store.zombienw.tk
    RewriteRule ^(.*)$ store.html [L]
</IfModule>
